// People Card

.people-card {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 1rem;
    background-color: #1b2028;
    border-radius: 8px;
    position: relative;
    align-items: center;
    border: 3px solid transparent;
    background-clip: padding-box;
    color: #f1f3f3;
    background-image: linear-gradient(
        135deg,
        rgba(#752e7c, 0.35),
        rgba(#734a58, 0.1) 15%,
        #1b2028 20%,
        #1b2028 100%
    );

    &:after {
        content: "";
        display: block;
        top: -3px;
        left: -3px;
        bottom: -3px;
        right: -3px;
        z-index: -1;
        position: absolute;
        border-radius: 16px;
        background-image: linear-gradient(135deg, #752e7c, #734a58 20%, #1b2028 30%, #2c333e 100%);
    }

    @media (min-width: 500px) {
        padding: 0.875rem;
        align-items: stretch;
    }
}

.people-card--image {
    border-radius: 50%;
    overflow: hidden;
    width: 55px;
    height: 55px;
    position: relative;

    img {
        position: absolute;
        width: 100%;
    }

    @media (min-width: 500px) {
        width: 65px;
        height: 65px;
    }
}

.people-card--name {
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.125rem;

    @media (min-width: 500px) {
        font-size: 1rem;
        margin-bottom: 0.25rem;
    }
}

.people-card--text {
    font-size: 0.7rem;
    margin-top: 0;
    margin-bottom: 0.0625rem;

    @media (min-width: 500px) {
        font-size: 0.75rem;
        margin-bottom: 0.125rem;
    }
}

.people-card--type {
    font-size: 0.55rem;
    color: #1b2028;
    padding: 0.25rem;
    border: 1px solid #1b2028;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2rem 0.45rem;
}

.people-card.preview {
    flex-direction: column;
    text-align: center;
    gap: 0.75rem;
    color: #1b2028;
    background: white;
    border: 2px solid #1b2028;

    .people-card--image {
        width: 35px;
        height: 35px;
        margin-left: auto;
        margin-right: auto;

        img {
            position: static;
        }
    }

    .people-card--name {
        font-size: 0.875rem;
        margin-bottom: 0.125rem;
    }

    .people-card--text {
        font-size: 0.7rem;
    }
}
